<launch>
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_odom" args="0 0 0 0 0 0 map odom" /> 
  <arg name="h" value="header: {frame_id: 'map', seq: 0, stamp: {nsecs: 0, secs: 0}}" />
  <arg name="orientation" value="orientation: {w: 1.0, x: 0.0, y: 0.0, z: 0.0}" />
  <arg name="scale" value="scale: {x: 0.2, y: 0.2, z: 0.2}" />
  <arg name="color" value="color: {a: 1.0, b: 1.0, g: 0.0, r: 0.0}"/>
  <arg name="position" value="position: {x: 0.0, y: 0.0, z: 0.0}"/>
  <arg name="pose" value="pose: {$(arg orientation), $(arg position)}"/>
  <arg name="lt" value="lifetime: {nsecs: 0, secs: 0}"/>
  <!-- start of race track coordinates -->
  <arg name="p1" value="{x: 0.0, y: 0.0, z: 0.0}"/>
  <arg name="p2" value="{x: 3.0, y: -0.8, z: 0.0}"/>
  <arg name="p3" value="{x: 7.0, y: -2.0, z: 0.0}"/>
  <arg name="p4" value="{x: 7.0, y: -5.0, z: 0.0}"/>
  <arg name="p5" value="{x: 6.8, y: -7.0, z: 0.0}"/>
  <arg name="p6" value="{x: 8.0, y: -8.0, z: 0.0}"/>
  <arg name="p7" value="{x: 8.8, y: -5.0, z: 0.0}"/>
  <arg name="p8" value="{x: 9.5, y: -2.0, z: 0.0}"/>
  <arg name="p9" value="{x: 11.0, y: -3.5, z: 0.0}"/>
  <arg name="p10" value="{x: 12.0, y: -5.0, z: 0.0}"/>
  <arg name="p11" value="{x: 16.0, y: -8.0, z: 0.0}"/>
  <arg name="p12" value="{x: 18.0, y: -9.0, z: 0.0}"/>
  <arg name="p13" value="{x: 20.0, y: -9.0, z: 0.0}"/>
  <arg name="p14" value="{x: 19.2, y: -7.0, z: 0.0}"/>
  <arg name="p15" value="{x: 16.0, y: -4.0, z: 0.0}"/>
  <arg name="p16" value="{x: 17.0, y: -2.0, z: 0.0}"/>
  <arg name="p17" value="{x: 21.0, y: -1.0, z: 0.0}"/>
  <arg name="p18" value="{x: 24.0, y: 0.0, z: 0.0}"/>
  <arg name="p19" value="{x: 26.0, y: 1.0, z: 0.0}"/>
  <arg name="p20" value="{x: 30.0, y: 3.0, z: 0.0}"/>
  <arg name="p21" value="{x: 33.0, y: 2.0, z: 0.0}"/>
  <arg name="p22" value="{x: 36.0, y: 1.0, z: 0.0}"/>
  <arg name="p23" value="{x: 39.0, y: 1.0, z: 0.0}"/>
  <arg name="p24" value="{x: 33.0, y: 4.0, z: 0.0}"/>
  <arg name="p25" value="{x: 35.0, y: 4.5, z: 0.0}"/>
  <arg name="p26" value="{x: 38.0, y: 6.0, z: 0.0}"/>
  <arg name="p27" value="{x: 36.0, y: 7.0, z: 0.0}"/>
  <arg name="p28" value="{x: 34.0, y: 7.0, z: 0.0}"/>
  <arg name="p29" value="{x: 30.0, y: 5.0, z: 0.0}"/>
  <arg name="p30" value="{x: 25.0, y: 5.5, z: 0.0}"/>
  <arg name="p31" value="{x: 22.0, y: 5.8, z: 0.0}"/>
  <arg name="p32" value="{x: 15.0, y: 6.0, z: 0.0}"/>
  <arg name="p33" value="{x: 16.0, y: 8.5, z: 0.0}"/>
  <arg name="p34" value="{x: 13.0, y: 7.0, z: 0.0}"/>
  <arg name="p35" value="{x: 12.0, y: 6.0, z: 0.0}"/>
  <arg name="p36" value="{x: 10.0, y: 5.0, z: 0.0}"/>
  <arg name="p37" value="{x: 5.0, y: 4.5, z: 0.0}"/>
  <arg name="p38" value="{x: 2.0, y: 4.0, z: 0.0}"/>
  <arg name="p39" value="{x: 0.0, y: 3.0, z: 0.0}"/>
  <arg name="p40" value="{x: -5.0, y: 2.0, z: 0.0}"/>
  <arg name="p41" value="{x: -5.0, y: 1.0, z: 0.0}"/>
  <arg name="p42" value="{x: 0.0, y: 0.0, z: 0.0}"/>

  <!-- end of race track coordinates -->
  <arg name="pts" value="points: [$(arg p1),$(arg p2),$(arg p3),$(arg p4),$(arg p5),$(arg p6),$(arg p7),$(arg p8),$(arg p9),$(arg p10),$(arg p11),$(arg p12),$(arg p13),$(arg p14),$(arg p15),$(arg p16),$(arg p17),$(arg p18),$(arg p19),$(arg p20),$(arg p21),$(arg p22),$(arg p23),$(arg p24),$(arg p25),$(arg p26),$(arg p27),$(arg p28),$(arg p29),$(arg p30),$(arg p31),$(arg p32),$(arg p33),$(arg p34),$(arg p35),$(arg p36),$(arg p37),$(arg p38),$(arg p39),$(arg p40),$(arg p41),$(arg p42)]"/>  
  <arg name="marker" value="'{$(arg h), ns: 'MWS', id: 0, type: 4, action: 0, $(arg pose), $(arg scale), $(arg color), $(arg lt), $(arg pts)}'" />
  <node name="pub1" pkg="rostopic" type="rostopic" args="pub /shape visualization_msgs/Marker $(arg marker)"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_racetrack)/config/racetrack.rviz"/>

  <arg name="c2" value="color: {a: 1.0, b: 0.0, g: 1.0, r: 0.0}"/>
  <arg name="start" value="'{$(arg h), ns: 'MarkerWithShape', id: 1, type: 2, action: 0, $(arg pose), scale: {x: 0.6, y: 0.6, z: 0.01}, $(arg c2), $(arg lt)}'" />
  <node name="pub2" pkg="rostopic" type="rostopic" args="pub /shape visualization_msgs/Marker $(arg start)"/>

  <arg name="pose2" value="pose: {$(arg orientation), position: {x: 0.0, y: 0.0, z: 0.4}}"/>
  <arg name="text" value="'{$(arg h), ns: 'MarkerWithShape', id: 2, type: 9, action: 0, $(arg pose2), $(arg scale), $(arg c2), $(arg lt), text: 'Start'}'" />
  <node name="pub3" pkg="rostopic" type="rostopic" args="pub /shape visualization_msgs/Marker $(arg text)"/>

</launch>